@import '../../global.scss'; 

.portfolioList {
    font-size: 14px;
    margin-right: 5px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    &.active {
      background-color: $maincolor;
      color: white;
    }
  }